// === Mixin ===
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}
// === / Mixin ===


// === Variables ===
$base: 4px;

$fs-sm: 12px;
$fs-md: 15px;

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

$padding-vertical: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$color-devider: #D8E3FE;
$color-primary: #697CA6;
$color-secondary: #6188FF;

$transition: .2s;
// === / Variables ===


// === Common ===
body {
    @include roboto;

    color: #8D96BD;
}

.wrapper-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}

.wrapper-outer {
    border-bottom: 1px solid $color-devider;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;

    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
}

h1,
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {
    @include roboto;

    font-size: 10px;
}

.ta-c {
    text-align: center;
}

.dots {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        width: $base * 2;
        height: $base * 2;
        border-radius: 100%;
        background-color: #D1D6E3;
        cursor: pointer;
        transition: $transition;

        & + & {
            
            margin-left: $base * 3;
        }

        &--active {
            background-color: #5283FF;
        }
    }
}
// === / Common ===


// === HEADER ===
.section-header {
    .wrapper-inner {
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xs;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    width: $base *6;
    height: $base *6;
    background-color: #5E81FE;
    border-radius: 100%;
}

.nav {
    margin-left: $base * 18;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            @include quicksand;

            font-size: $fs-sm;
            color: $color-primary;
            text-decoration: none;
            font-weight: $fw-medium;
            transition: $transition;

            &:hover {
                color: $color-secondary;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-secondary;
            }
        }
    }
}

.socials {
    margin-left: auto;
}

.socials-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        & + & {
            margin-left: $base * 9;
        }

        &-link {
            path {
                fill: $color-primary;
                transition: $transition;

                
            }

            &:hover {
                path {
                    fill: $color-secondary;
                }
            }
        }
    }
}

.btn {
    margin-left: $base * 11;
}

.btn-link {
    @include quicksand;

    font-size: $fs-sm;
    font-weight: $fw-bold;
    margin: 0;
    padding: $base * 3 $base * 4;
    text-decoration: none;
    background-color: none;
    border: 0;
    border-radius: 2px;
    transition: $transition;

    &--primary {
        color: #3A79FF;
        background-color: #D2E1FF;
        &:hover {
            background-color: darken(#D2E1FF, 5%);
        }
    }
}
// === / HEADER ===

// === HERO ===
.section-hero {
    position: relative;
    background-color: #F4F7FF;
}

.dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
}

.slider-hero {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        height: $base * 140;
        background-size: cover;
        background-position: 50% 100%;
        text-align: center;
        background-repeat: no-repeat;

        &-content {
            padding-top: $base * 23;

            h2 {
                font-weight: $fw-light;
                span {
                    font-weight: $fw-medium;
                }
            }
        }
    }

    &__intro {
        text-transform: uppercase;
        margin-bottom: $base * 4;
    }

    &__title {
        margin-bottom: $base * 7;
    }

    &__text {
        width: 60%;
        margin: 0 auto;
        line-height: 2;
        margin-bottom: $base * 5;
    }
}

.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $base * 13;
    height: $base * 13;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);

    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        margin-left: $base * 4;
        border-color: transparent;
        border-style: solid;
        border-width: $base*2 $base*3;
        border-left-color: #5E81FF;
    }
}
// === / HERO ===

// === CUSTOMERS ===
.section-customers {
    .wrapper-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }

    a {
        opacity: .3;
        transition: $transition;

        &:hover {
            opacity: 1;
        }
    }
}
// === / CUSTOMERS ===

// === PLAN ===
.section-plan {
    background-color: #F5F8FF;
}
// === / PLAN ===

// === FEATURES ===

// === / FEATURES ===

// === STATS ===
.section-stats {
    background-color: #E9EFFF;
    
    .wrapper-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}
// === / STATS ===

// === BLOG ===
.section-blog {
    background-color: #F5F8FF;
}
// === / BLOG ===

// === QUOTES ===
.section-quotes {
    background-color: #EAF0FF;
}
// === / QUOTES ===

// === FAQ ===

// === / FAQ ===

// === STARTED ===
.section-started {
    background-color: #6888FF;
}
// === / STARTED ===

// === NEWSLETTER ===
.section-newsletter {
    background-color: #FCFDFF;
}
// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
    border-bottom: none;

    .wrapper-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}

.copyright {
    @include quicksand;

    font-size: $fs-sm;
    font-weight: $fw-medium;
    color: #AEB8D0;
    margin-top: $base * 7;
    margin-left: $base * 24;

}
// === / FOOTER ===